// *****************
// Global Variables
// *****************
//marigin
$h1-margin: 1rem 0;
// Spaces
$base-spacing-unit: 16px;
// Border radius
$global-radius: 3px;
// Transition
$global-transition: all .35s;
// *****************
// Typography
// *****************
$base-font-size: 20px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: Akkurat,
Helvetica,
sans-serif;
$base-line-height: 3.2rem;
// Headings
$heading-font-weight: 700;
$heading-font-family: "Noe Display",
Georgia,
sans-serif;
$font-size-h1: 3rem;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;
$heading-line-height: 1.3;
$heading-letter-spacing: -1px;